<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <!-- <p>Form value: {{form.value | json}}</p>
      <p>Form valid: {{form.status | json}}</p> -->
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema:</label>
          <input type="text" class="form-control"
            [ngClass]="cssValidator(f.tema)"
            formControlName="tema" placeholder="Insira o Tema">
          <div *ngIf="f.tema?.errors?.required" class="invalid-feedback">
            Tema é obrigatório
          </div>
          <div *ngIf="f.tema?.errors?.minlength" class="invalid-feedback">
            Tema deve ter no mínimo 4 caracteres
          </div>
          <div *ngIf="f.tema?.errors?.maxlength" class="invalid-feedback">
            Tema deve ter no máximo 50 caracteres
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local:</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.local)"
            formControlName="local" placeholder="Digite o local do evento">
          <div *ngIf="f.local?.errors?.required" class="invalid-feedback">
            Local é obrigatório
          </div>
          <div *ngIf="f.local?.errors?.maxlength" class="invalid-feedback">
            Local deve ter no máximo 100 caracteres
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora:</label>
          <input type="datetime" class="form-control"
          [ngClass]="cssValidator(f.dataEvento)" bsDatepicker [bsConfig]="bsconfig"
          value="{{evento.dataEvento | DateFormatPipe}}"
            formControlName="dataEvento" placeholder="">
          <div  class="invalid-feedback">
            Data e hora são obrigatórios.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>N* de Pessoas:</label>
          <input type="number" class="form-control"
          [ngClass]="cssValidator(f.qtdPessoas)"
            formControlName="qtdPessoas" placeholder="123...">
          <div *ngIf="f.qtdPessoas?.errors?.required" class="invalid-feedback">
            Quantidade de pessoas é obrigatório.
          </div>
          <div *ngIf="f.qtdPessoas?.errors?.max" class="invalid-feedback">
            Quantidade máxima de pessoas é 12000.
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone:</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.telefone)"
            formControlName="telefone" placeholder="(00)90000-0000">
          <div class="invalid-feedback">
            Telefone é obrigatório.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email:</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.email)"
            formControlName="email" placeholder="e-mail">
          <div *ngIf="f.email?.errors?.required"  class="invalid-feedback">
            Email é obrigatório.
          </div>
          <div *ngIf="f.email?.errors?.email"  class="invalid-feedback">
            Email deve conter o endereço de email válido.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem:</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.imagemURL)"
            formControlName="imagemURL" placeholder="Digite o caminho da imagem.">
          <div class="invalid-feedback">
            Url da imagem é obrigatório.
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-warning mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-warning" [disabled]="!form.valid" (click)="salvarAlteracao()">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
